.button {
  background-color: inherit;
  border: 2px solid;
  border-radius: 100px;
  padding: calc(var(--size-1) * 3) calc(var(--size-1) * 4);

  font-size: var(--font-size-small);
  line-height: 1;

  min-height: calc(var(--size-1) * 10);

  text-align: center;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button.link {
  text-decoration: none;
}

.button.link:active,
.button.link:hover,
.button.link:focus,
.button.link:visited {
  text-decoration: none;
}

.button.primary,
.button.primary:visited {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.button.primary:active,
.button.primary:focus,
.button.primary:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.button.secondary,
.button.secondary:visited {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.button.secondary:active,
.button.secondary:focus,
.button.secondary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.button.secondary:disabled {
  border-color: var(--color-gray-3);
  color: var(--color-gray-3);
}

.button.tertiary,
.button.tertiary:visited {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.button.tertiary:active,
.button.tertiary:focus,
.button.tertiary:hover {
  background-color: inherit;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.button.quaternary,
.button.quaternary:visited {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
}

.button.quaternary:active,
.button.quaternary:focus,
.button.quaternary:hover {
  background-color: inherit;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

/**
 * Chrome only:
 * Firefox and Safari apply the button's border radius on the element.
 **/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .button {
    outline: none;
  }
}
