.link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.link:not(.unstyled) {
  font-size: var(--font-size-small);
  line-height: 1.33;
  vertical-align: middle;

  min-height: calc(var(--size-1) * 6);
  color: var(--color-primary);
  text-underline-offset: 2px;
}

.link:not(.unstyled):active,
.link:not(.unstyled):hover,
.link:not(.unstyled):visited {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
}

.link.unstyled {
  text-decoration: none;
  color: var(--color-royal-blue);
}

.link.unstyled:active,
.link.unstyled:hover,
.link.unstyled:visited {
  text-decoration: none;
  color: var(--color-royal-blue);
}
