.button {
  padding: 1rem;
  position: absolute;

  left: 50%;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
}

.button:focus {
  top: calc(var(--size-1) * 1.5);
  transform: translateY(0%);
}

.button:hover {
  color: var(--color-yellow);
}
