.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-block-end: calc(var(--size-1) * 8);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: var(--body-max-width);

  padding-block-start: calc(var(--size-1) * 6);
  padding-block-end: calc(var(--size-1) * 7);
}

.nav {
  height: 100%;
  overflow: hidden;
  max-height: 84px;
}

.navList {
  display: flex;
  gap: calc(var(--size-1) / 2);

  width: 100%;
  height: 100%;

  overflow-x: auto;
  box-sizing: content-box;
  padding-block-end: 15px;
  margin-block-end: -15px;
}

.navList .link {
  order: 1;
}

.headerLogo {
  padding-block-start: var(--size-1);
  padding-block-end: var(--size-1);
  padding-inline-start: calc(var(--size-1) * 2);
  padding-inline-end: calc(var(--size-1) * 2);
}

.headerLogo svg {
  max-height: calc(var(--size-1) * 4);
}

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .nav {
      max-height: 82px;
    }
  }
}

@media (max-width: 802px) {
  .header {
    padding-block-start: calc(var(--size-1) * 3);
    padding-block-end: calc(var(--size-1) * 3);
    gap: 2px;
  }

  .container {
    padding-block-end: calc(var(--size-1) * 1);
  }

  .navList .link:not(.linkMentoring, .linkLinks, .linkContact) {
    order: 2;
  }
}
