:root {
  --size-1: 8px;

  --color-royal-blue: #2a18d0;
  --color-cyan: #c6ffe7;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #fdf360;

  --color-primary: var(--color-royal-blue);
  --color-secondary: var(--color-cyan);

  --font-family-regular: DM Sans, sans-serif;
  --font-family-mono: DM Mono, sans-serif;
  --font-family-heading: DX-Rigraf, sans-serif;

  --font-size-xxxsmall: 1rem;
  --font-size-xxsmall: 1.125rem;
  --font-size-xsmall: 1.25rem;
  --font-size-small: 1.5rem;
  --font-size-normal: 2.125rem;

  --body-max-width: 1280px;
}
